
/* base styles */
body {
  font-family: 'Source Sans Pro';
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  color: var(--text,#fff);
  background: var(--background, #37454c);
}
.results-container{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}